[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pytest = "*"
pytest-flask = "*"
flask-restx = "*"
mysql-connector-python = "*"
mock = "*"
boto3 = "*"
flask-marshmallow = "*"
flask-restplus-marshmallow = "*"
pillow = "*"
python-magic = "*"
python-magic-bin = "*"

[requires]
python_version = "3.8"
